<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprende a leer</title>

     <!-- Compiled and minified CSS de boostrap -->
     <!-- CSS only -->
    
     <link rel="stylesheet" href="css/bootstrap-theme.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="\src\public\css\prueba.css">

    <script src="https://kit.fontawesome.com/512f6708d8.js" crossorigin="anonymous"></script>

</head>

<body id="body">
    
   <header>
      

       <div class="container__header" >

         <div class="logo">
           <img src="\src\public\img\icons\iconofunlearn.svg" alt="">
         </div>

         <div class="container__nav">
           <nav>
            <ul>
               <li><a  class="home" href="\src\views\vista-estudiante\homeEstudiante.html">Mi home</a></li>
               <li><a class="select" href="ventanabienvenida.html">Cerrar sesión</a></li>
            </ul>


            </nav>


          </div>
          
        </div>
    </header>

    <div class="menu__side" id="menu_side">

      
        <div class="name__page">

          <div class="icon_menu">
            <i class="fas fa-bars" id="btn_open"></i>
           
         </div>
   
            <h4>Mi menú</h4>
        </div>
        
        <div class="options__menu">

          <a href="\src\views\modulos\español.html" class="selected">
            <div class="option">
                <i class="fa-solid fa-spell-check" title="Espanish"></i>
                <h4>Español</h4>
            </div>

          </a>

          <a href="\src\views\vista-administrador\aprende.html">
            <div class="option">
                <i class="fa-solid fa-book" title="Aprendealeer"></i>
                <h4>Aprende a leer</h4>
            </div>
          </a>

          <a href="\src\views\modulos\ingles.html">
            <div class="option">
                <i class="fa-solid fa-earth-americas" title="Ingles"></i>
                <h4>Inglés</h4>
            </div>
          </a>

          <a href="\src\views\modulos\motivacion.html">
            <div class="option">

              <i class="fa-solid fa-wand-magic-sparkles" title="Motivación"></i>
                <h4>Motivación</h4>
            </div>
          </a>

          <a href="\src\views\modulos\material.html">
            <div class="option">
                <i class="fa-solid fa-pen-ruler" title="Materialdidactico"></i>
                <h4>Material didáctico</h4>
            </div>
          </a>


        </div>


    </div>
     
     <div >

      <input class="boton2" type="submit" name="" value="Módulo: Aprende a leer">
      <h4>
      </h4>
    </div>

    <div class="contenedor_esp" align="center">

      <div class="niveles">

        <div class="nivel">

         <img src="\src\public\img\images\es-imgnivel1.png" alt="">

        </div>

        <div class="pienivel">
           <a  href="\src\views\aprende\abecedario.html">Abecedario</a>

        </div>

      </div>

      <div class="niveles">

        <div class="nivel">

         <img src="\src\public\img\images\es-imgnivel2.png" alt="">

        </div>

        <div class="pienivel">
           <a href="\src\views\aprende\vocales.html">Vocales</a>

        </div>

      </div>



    </div>

    

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<script src="\src\public\js\script.js"></script>
    
</body>
</html>
