<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocales-nivel 3</title>
 
    <!-- Compiled and minified CSS de boostrap -->
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
     <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
     <link rel="stylesheet" href="css/bootstrap-theme.min.css" crossorigin="anonymous">


    <link rel="stylesheet" href="\src\public\css\prueba.css">
    <link rel="stylesheet" href="\src\public\css\vocales.css">

    <script src="https://kit.fontawesome.com/512f6708d8.js" crossorigin="anonymous"></script>

</head>
<STYLE>a {text-decoration: none;} </STYLE>
<body id="body">
    
   <header>
       <div class="container__header" >
         <div class="logo">
           <img src="\src\public\img\icons\iconofunlearn.svg" alt="">
         </div>

         <div class="container__nav">
           <nav>
            <ul>
               <li><a  class="home" href="\src\views\aprende\vocales.html">Mi home</a></li>
               <li><a class="select" href="\src\views\vista-administrador\ventanabienvenida.html">Cerrar sesión</a></li>
            </ul>


            </nav>


          </div>
          
        </div>
    </header>

    <!--Diseño del menú de navegación lateral derecho-->

    <div class="menu__side" id="menu_side">

      
        <div class="name__page">

          <div class="icon_menu">
            <i class="fas fa-bars" id="btn_open"></i>
           
          </div>
   
            <h4>Mi menú</h4>
        </div>
        
        <div class="options__menu">

          <a href="\src\views\modulos\español.html" class="selected">
            <div class="option">
                <i class="fa-solid fa-spell-check" title="Espanish"></i>
                <h4>Español</h4>
            </div>

          </a>

          <a href="\src\views\vista-administrador\aprende.html">
            <div class="option">
                <i class="fa-solid fa-book" title="Aprendealeer"></i>
                <h4>Aprende a leer</h4>
            </div>
          </a>

          <a href="\src\views\modulos\ingles.html">
            <div class="option">
                <i class="fa-solid fa-earth-americas" title="Ingles"></i>
                <h4>Inglés</h4>
            </div>
          </a>

          <a href="\src\views\modulos\motivacion.html">
            <div class="option">
              <i class="fa-solid fa-wand-magic-sparkles" title="Motivacion"></i>
                <h4>Motivación</h4>
            </div>
          </a>

          <a href="\src\views\modulos\material.html">
            <div class="option">
                <i class="fa-solid fa-pen-ruler" title="Materialdidactico"></i>
                <h4>Material didáctico</h4>
            </div>
          </a>


        </div>


    </div>

    <!--Fin del menú-->


    <!--Diseño del contenedor-->

    <div class="contenedor_abecedario">
        <!--Menú de los niveles-->
         <div class="menuNiveles">
          <input class="boton" type="submit" name="" value="Módulo: Vocales">
         </div>
         <br>

         <div class="row">
            <div class="col-md-12 col-md-offset-12 text-center" >
              <ul class="nav justify-content-center">

                <li class="nav-item">
                  <a class="nav-link" href="\src\views\vista-administrador\aprende.html">Módulos</a>
                </li>  


                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="\src\views\aprende\vocales.html">Nivel 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="\src\views\aprende\vocales2.html">Nivel 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="\src\views\aprende\vocales3.html">Nivel 3</a>
                </li>
                
              </ul>
  
            </div>



            </div>
          </div>

         <div>
                   

         </div>
         




       <br>
      <div align="center">
       
        <input class="boton" type="submit" name="" value="NIVEL 3: REPASA LO APRENDIDO">
        <h4 >Realiza los ejercicios para reforzar tu aprendizaje
        </h4>
      </div>


  
 
      <!--Se inserta ficha de liveworksheet-->


      <div align="center">
        <div align="center" id="liveworksheet1875334" style="width:600px">
            <span id="lwslink1875334"><font face="Arial" size="2"><a href="https://es.liveworksheets.com/worksheets/es/Educación_Infantil/Las_vocales/Las_vocales_ma1875334hp">Las vocales</a>, una ficha interactiva de <a href="https://es.liveworksheets.com/user/EstherJansen">EstherJansen</a></font>
            <br><a href="https://es.liveworksheets.com" style="text-decoration: none"><font face="Century Gothic" size="4">live<b>worksheets.com</b></font></a></span>
            </div>
        
            <div align="center" id="liveworksheet1871742" style="width:600px">
                <span id="lwslink1871742"><font face="Arial" size="2"><a href="https://es.liveworksheets.com/worksheets/es/Educación_Infantil/Las_vocales/La_letra_A_qj1871742tl">La letra A</a>, una ficha interactiva de <a href="https://es.liveworksheets.com/user/EstherJansen">EstherJansen</a></font>
                <br><a href="https://es.liveworksheets.com" style="text-decoration: none"><font face="Century Gothic" size="4">live<b>worksheets.com</b></font></a></span>
                </div>

                <div align="center" id="liveworksheet1871845" style="width:600px">
                    <span id="lwslink1871845"><font face="Arial" size="2"><a href="https://es.liveworksheets.com/worksheets/es/Educación_Infantil/Las_vocales/La_letra_E_fx1871845up">La letra E</a>, una ficha interactiva de <a href="https://es.liveworksheets.com/user/EstherJansen">EstherJansen</a></font>
                    <br><a href="https://es.liveworksheets.com" style="text-decoration: none"><font face="Century Gothic" size="4">live<b>worksheets.com</b></font></a></span>
                    </div>

                    <div align="center" id="liveworksheet1871885" style="width:600px">
                        <span id="lwslink1871885"><font face="Arial" size="2"><a href="https://es.liveworksheets.com/worksheets/es/Educación_Infantil/Las_vocales/La_letra_I_at1871885no">La letra I</a>, una ficha interactiva de <a href="https://es.liveworksheets.com/user/EstherJansen">EstherJansen</a></font>
                        <br><a href="https://es.liveworksheets.com" style="text-decoration: none"><font face="Century Gothic" size="4">live<b>worksheets.com</b></font></a></span>
                        </div>

                        <div align="center" id="liveworksheet1871945" style="width:600px">
                            <span id="lwslink1871945"><font face="Arial" size="2"><a href="https://es.liveworksheets.com/worksheets/es/Educación_Infantil/Las_vocales/La_letra_O_vz1871945lb">La letra O</a>, una ficha interactiva de <a href="https://es.liveworksheets.com/user/EstherJansen">EstherJansen</a></font>
                                <br><a href="https://es.liveworksheets.com" style="text-decoration: none"><font face="Century Gothic" size="4">live<b>worksheets.com</b></font></a></span>
                            </div>

                            <div align="center" id="liveworksheet1871996" style="width:600px">
                                <span id="lwslink1871996"><font face="Arial" size="2"><a href="https://es.liveworksheets.com/worksheets/es/Educación_Infantil/Las_vocales/La_letra_U_fc1871996jg">La letra U</a>, una ficha interactiva de <a href="https://es.liveworksheets.com/user/EstherJansen">EstherJansen</a></font>
                                    <br><a href="https://es.liveworksheets.com" style="text-decoration: none"><font face="Century Gothic" size="4">live<b>worksheets.com</b></font></a></span>
                                </div>

                                <div align="center" id="liveworksheet1097394" style="width:600px">
                                    <span id="lwslink1097394"><font face="Arial" size="2"><a href="https://es.liveworksheets.com/worksheets/es/Educación_Infantil/Las_vocales/Vocales_fu1097394dh">Vocales</a>, una ficha interactiva de <a href="https://es.liveworksheets.com/user/Kathy1990">Kathy1990</a></font><br><a href="https://es.liveworksheets.com" style="text-decoration: none"><font face="Century Gothic" size="4">live<b>worksheets.com</b></font></a></span>
                                    </div>


                




         
                


      </div>




    </div>

    

<!--Scripts a usar-->

<script src="https://files.liveworksheets.com/embed/embed.js"></script>

<script language="javascript">
  loadliveworksheet(3285884,'xicepfsl',766,'es',4632844);
  </script>

<script language="javascript">
loadliveworksheet(1875334,'zktegcqg',1333,'es',4632844);
</script>

<script language="javascript">
    loadliveworksheet(1871742,'vpylfztr',1333,'es',4632844);
    </script>


    <script language="javascript">
    loadliveworksheet(1871845,'vfghkhdq',1333,'es',4632844);
    </script>

<script language="javascript">
loadliveworksheet(1871885,'vydrbtjt',1333,'es',4632844);
</script>

    <script language="javascript">
    loadliveworksheet(1871945,'elzqshjf',1333,'es',4632844);
    </script>

<script language="javascript">
loadliveworksheet(1871996,'xjypggqt',1333,'es',4632844);
</script>

<script language="javascript">
loadliveworksheet(1097394,'nipaqerh',1291,'es',4632844);
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
                
<script src="\src\public\js\script.js"></script>
    
</body>
</html>